---
import Linkedin from "../components/linkedin.astro";
import GitHub from "../components/GitHub.astro";
import Correo from "../components/Correo.astro";
import Python from "../components/python.astro";
import Java from "../components/java.astro";
import Javascript from "../components/javaScript.astro";
import Visual from "../components/visual.astro";
import CSS from "../components/css.astro";
import HTML from "../components/html.astro";
import MongoDB from "../components/mongodb.astro";
import Tailwind from "../components/tailwind.astro";
import Oscuro from "../components/oscuro.astro";
---

<body class="flex flex-col items-center bg-zinc-200 dark:bg-zinc-950 h-full">
	<!--contenedor principal-->

	<div
		class="relative bg-zinc-50 shadow dark:border-black md:container dark:bg-zinc-900 w-full md:max-w-6xl lg:max-w-6xl h-full"
	>
		<nav class="top-0 z-50 sticky bg-white dark:bg-zinc-900 shadow-sm">
			<div class="flex justify-between items-center px-4 py-3">
				<h1 class="font-bold text-red-500 text-xl dark:text-teal-500">
					MB
				</h1>
				<div class="flex items-center gap-4">
					<!-- Botón de modo oscuro actualizado -->
					<Oscuro />

					<a
						href="#experiencia"
						class="text-gray-600 hover:text-red-500 dark:hover:text-teal-500 dark:text-gray-300"
						>Experiencia</a
					>
					<a
						href="#proyectos"
						class="text-gray-600 hover:text-red-500 dark:hover:text-teal-500 dark:text-gray-300"
						>Proyectos</a
					>
					<a
						href="#contacta"
						class="text-gray-600 hover:text-red-500 dark:hover:text-teal-500 dark:text-gray-300"
						>Contacta</a
					>
				</div>
			</div>
		</nav>

		<div class="justify-center m-7 mt-2 p-2">
			<div class="flex items-center m-2 mt-4 md:mt-20 p-2">
				<img
					src="fotos/may.jpg"
					class="mr-4 rounded-full w-36"
					loading="lazy"
				/>
				<h1 class="mb-4 ml-4 text-4xl md:text-6xl dark:text-white">
					Mayra Barrantes Pi
				</h1>
			</div>

			<h1 class="mt-12 mb-4 text-xl md:text-4xl dark:text-teal-300">
				Técnico superior en Desarrollo de Aplicaciones Multiplataforma
			</h1>
			<br />
			<p class="text-gray-600 text-lg dark:text-gray-100">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Pellentesque gravida vitae sapien a ultrices. Nunc fringilla,
				hendrerit risus
			</p><br />

			<p class="text-gray-600 text-lg dark:text-gray-100">
				iaculis, nec consectetur sapien maximus. Maecenas vel mauris
				enim. Pellentesque tempus nisi quis sapien commodo.
			</p>

			<!--boton sociales-->
			<div class="inline-flex my-8">
				<div>
					<a href="https://www.linkedin.com/in/mayrabpi/">
						<Linkedin />
					</a>
				</div>
				<div>
					<a href="https://github.com/mayrabpi">
						<GitHub />
					</a>
				</div>
				<div>
					<a>
						<Correo />
					</a>
				</div>
			</div>
		</div>
		<div class="flex justify-center my-8">
			<hr class="border-gray-300 mb-10 border-t-2 w-[60%]" />
			<!-- Cambia el ancho aquí -->
		</div>

		<!-- proyectos-->
		<section id="proyectos">
			<h1 class="mb-4 p-6 font-bold text-2xl dark:text-teal-200">
				|Proyectos
			</h1>
			<div class="md:gap-4 grid grid-cols-1 md:grid-cols-2">
				<div
					class="bg-zinc-50 dark:hover:bg-zinc-800 hover:bg-zinc-100 dark:bg-zinc-900 shadow-md m-8 mb-8 p-6 rounded-lg"
				>
					<h2 class="mb-2 text-xl md:text-2xl dark:text-white">
						juego de memoria en Python
					</h2>
					<p
						class="mb-4 text-gray-600 text-justify dark:text-gray-400"
					>
						Juego de memoria
					</p>
					<Python />
					<a
						href="#"
						class="text-red-500 dark:text-teal-500 hover:underline"
						>Ir al repositorio →</a
					>
				</div>
				<div
					class="bg-zinc-50 dark:hover:bg-zinc-800 hover:bg-zinc-100 dark:bg-zinc-900 shadow-md m-8 mb-8 p-6 rounded-lg"
				>
					<h2 class="mb-2 text-xl md:text-2xl dark:text-white">
						Máquina Virtual
					</h2>
					<p
						class="mb-4 text-gray-600 text-justify dark:text-gray-400"
					>
						Proyecto Máquina Virtual en java orientada a aprender
						los conceptos básicos de la orientación a objetos y a
						java, uso de arrays y enumerados; manipulación de
						cadenas con la clase String, entrada y salida por
						consola.
					</p>
					<Java />
					<a
						href="https://github.com/mayrabpi/Proyecto_Maquina_Virtual"
						class="text-red-500 dark:text-teal-500 hover:underline"
						>Ir al repositorio
					</a>
				</div>
				<div
					class="bg-zinc-50 dark:hover:bg-zinc-800 hover:bg-zinc-100 dark:bg-zinc-900 shadow-md m-8 mb-8 p-6 rounded-lg"
				>
					<h2 class="mb-2 text-xl md:text-2xl dark:text-white">
						Simon Dice
					</h2>
					<p
						class="mb-4 text-gray-600 text-justify dark:text-gray-400"
					>
						Simon Dice es una implementación del clásico juego de
						memoria "Simon" en java, el juego genera una secuencia
						aleatoria de colores que el jugador debe memorizar y
						repetir.
					</p>
					<Java />
					<a
						href="https://github.com/mayrabpi/Proyecto-Simon-dice"
						class="text-red-500 dark:text-teal-500 hover:underline"
						>Ir al repositorio →</a
					>
				</div>
				<div
					class="bg-zinc-50 dark:hover:bg-zinc-800 hover:bg-zinc-100 dark:bg-zinc-900 shadow-md m-8 mb-8 p-6 rounded-lg"
				>
					<h2 class="mb-2 text-xl md:text-2xl dark:text-white">
						Proyectos con HTML CSS Y Javascript
					</h2>
					<p
						class="mb-4 text-gray-600 text-justify dark:text-gray-400"
					>
						aqui mas cosas hhohs hosjsojsos hohao
					</p>
					<div class="mb-2.5">
						<div class="inline-flex mb-2">
							<Javascript />
							<CSS />
							<HTML />
							<Visual />
						</div>
					</div>
					<a
						href="https://github.com/mayrabpi/Proyecto-Simon-dice"
						class="text-red-500 dark:text-teal-500 hover:underline"
						>Ir al repositorio →</a
					>
				</div>
			</div>
		</section>

		<!--FORMACION Y EXPERIENCIA-->
		<section id="experiencia">
			<div class="flex justify-center my-8">
				<hr class="border-gray-300 mb-10 border-t-2 w-[60%]" />
				<!-- Cambia el ancho aquí -->
			</div>
			<div>
				<h1 class="mb-4 p-6 font-bold text-2xl dark:text-teal-200">
					|Formación y Experiencia
				</h1>
			</div>
			<div class="md:gap-4 grid grid-cols-1 md:grid-cols-2">
				<div
					class="dark:border-zinc-700 bg-zinc-50 dark:hover:bg-zinc-800 hover:bg-zinc-100 dark:bg-zinc-900 dark:shadow-slate-800 m-8 mb-8 p-6 md:p-12 border rounded-2xl transform hover:scale-105 duration-300"
				>
					<p class="mb-8 font-bold text-xl dark:text-white">
						Experiencia Laboral
					</p>

					<div
						class="flex items-center mb-4 text-gray-600 text-justify dark:text-gray-400"
					>
						<img
							class="mr-2 rounded-full w-8 h-8"
							src=" fotos/logo_dia.jpg"
							alt="logo de dia"
						/>
						<p class="font-semibold">Dia S.A</p>
						<p class="ml-auto text-gray-600 text-sm">2004 – 2023</p>
					</div>
					<div class="ml-8 text-gray-600">Responsable de equipo</div>
					<button
						class="bg-red-400 hover:bg-red-500 dark:hover:bg-teal-400 dark:bg-teal-500 px-6 p-2 pt-4 pb-2 rounded w-full text-white"
					>
						Descargar CV
					</button>
				</div>

				<!--SKILLS-->
				<div
					class="dark:border-zinc-700 bg-zinc-50 dark:hover:bg-zinc-800 hover:bg-zinc-100 dark:bg-zinc-900 dark:shadow-slate-800 m-8 mb-8 p-6 md:p-12 border rounded-2xl transform hover:scale-105 duration-500"
				>
					<p class="mb-6 font-bold text-xl dark:text-white">Skills</p>
					<div class="justtify-items-center gap-4 grid grid-cols-4">
						<!--java---->
						<Java />
						<!--javascript-->
						<Javascript />
						<!--tailwindcss-->
						<Tailwind />
						<!--python-->
						<Python />
						<!--mongodb-->
						<MongoDB />
						<!--html5-->
						<HTML />
						<!--CSS-->
						<CSS />
						<!--visual studio code-->
						<Visual />
					</div>
				</div>
			</div>
		</section>
		<section id="contacta">
			<div
				class="bg-zinc-50 dark:hover:bg-zinc-800 hover:bg-zinc-100 dark:bg-zinc-900 dark:shadow-slate-800 mb-8 p-6 md:p-12 border rounded-2xl transform hover:scale-105 duration-500"
			>
				<h2 class="mb-4 font-bold text-xl dark:text-white">
					Mantente actualizado
				</h2>
				<p class="mb-4 text-gray-600">
					Aqui puede ir algo de informacion sobre mi
				</p>
				<form>
					<input
						type="email"
						placeholder="Email "
						class="bg-transparent mb-4 p-2 border rounded w-full dark:text-white caret-red-600"
					/>
				</form>
				<button
					type="submit"
					class="bg-red-400 hover:bg-red-500 dark:hover:bg-teal-400 dark:bg-teal-500 p-2 rounded w-full text-white"
					>Enviar</button
				>
			</div>
		</section>
	</div>
</body>
